<!DOCTYPE html>

<head>
    <title></title>
</head>

<body>
    <table>
        <tr>
            <td>             
                <br />
                <br />

                <!--<div style="border-top:3px solid #22BCE5"> </div>-->
                <!--<b>Subject:</b>
                Välkommen till Glamly!<br /><br />

                <b>Message:</b><br />-->
                Hej <b>{name}</b>, <br />

                <p>Välkommen som stylist hos oss på Glamly. Vi har skapat ett Glamly PRO konto till dig så att du enkelt kan hålla koll på dina bokningar.<br />
                 Ladda ner appen från AppStore och logga in med dina inloggningsuppgifter nedan.</p><br /><br />
           

                <b>Dina inloggningsuppgifter:</b><br /><br />
                <b> Användarnamn:</b> {UserEmail}<br />
                <b>Lösenord:</b> {Password}<br /><br />

                Frågor?<br />
                Hör av dig till oss på info@glamly.se så kontaktar vi dig så snart vi kan.<br /><br />

                Vänliga hälsningar,<br />
                Glamly
                <br /><br />
            </td>

        </tr>

    </table>

</body>
