<!DOCTYPE html>

<head>
    <title></title>
</head>

<body>
    <table>
        <tr>
            <td>             
                <br />
                <br />

                <!--<div style="border-top:3px solid #22BCE5"> </div>-->
                <!--<b>Subject:</b>
                Välkommen till Glamly!<br /><br />

                <b>Message:</b><br />-->
                Hej <b>{name}</b>, <br />


                <p>Thank you for registering for Glamly.</p><br /><br />

                Vänliga hälsningar,<br />
                Glamly
                <br /><br />
            </td>

        </tr>

    </table>

</body>
